streamlit
google-generativeai
python-dotenv
langchain_google_genai
gunicorn
langchain_community
# openai
google-cloud-aiplatform>=1.38

#numpy==1.24.3
numpy
plotly
matplotlib
mysql-connector-python
bcrypt

PyPDF2
faiss-cpu
groq
langchain-groq
pypdf

python-magic
python-docx
